/* * {
    margin: 0;
    padding: 0;
}

.h1-tag {
    background: red;
font-size: 50px;

}

.input-tag {
    background: green;
    font-size: 20px;
   height: 100px;
   width: 100px;
}

.button-tag1 {
    background: blue;
    font-size: 20px;
    height: 100px;
    width: 100px;
}

.button-tag2 {
    background: red;
    font-size: 20px;
    height: 100px;
    width: 100px;
}

.div1{
    
    background: blue;
    font-size: 20px;
    height: 100px;
    width: 100px;
}
.input-tag2{
background: yellowgreen;
text-align: center;

}

.ul-tag{
   font-size: 100px;
    background: red;
    font-size: 20px;
    height: 100px;
    width: 100px;
} */